/* MARKET X Styles */

* {
    font-family: 'Lato', sans-serif;
}
strong {
    font-weight: 400;
}

#grad {
    background: url("../img/header_bg.png") repeat, -webkit-linear-gradient(-90deg, #cf5667, #b947bc); /* For Safari 5.1 to 6.0 */
    background: url("../img/header_bg.png") repeat, -o-linear-gradient(-90deg, #cf5667, #b947bc); /* For Opera 11.1 to 12.0 */
    background: url("../img/header_bg.png") repeat, -moz-linear-gradient(-90deg, #cf5667, #b947bc); /* For Firefox 3.6 to 15 */
    background: url("../img/header_bg.png") repeat, linear-gradient(-90deg, #cf5667, #b947bc); /* Standard syntax */

    padding: 140px 0px 70px 0px;
}
#grad_2 {
    background: url("../img/grad_2.png") repeat, -webkit-linear-gradient(-90deg, #1dccc8, #108791); /* For Safari 5.1 to 6.0 */
    background: url("../img/grad_2.png") repeat, -o-linear-gradient(-90deg, #1dccc8, #108791); /* For Opera 11.1 to 12.0 */
    background: url("../img/grad_2.png") repeat, -moz-linear-gradient(-90deg, #1dccc8, #108791); /* For Firefox 3.6 to 15 */
    background: url("../img/grad_2.png") repeat, linear-gradient(-90deg, #1dccc8, #108791) ; /* Standard syntax */

    padding: 90px 0px 90px 0px;
}
#grad_3 {
    background: url("../img/grad_3.png") repeat, -webkit-linear-gradient(-90deg, #3f81e7, #9d6ced); /* For Safari 5.1 to 6.0 */
    background: url("../img/grad_3.png") repeat, -o-linear-gradient(-90deg, #3f81e7, #9d6ced); /* For Opera 11.1 to 12.0 */
    background: url("../img/grad_3.png") repeat, -moz-linear-gradient(-90deg, #3f81e7, #9d6ced); /* For Firefox 3.6 to 15 */
    background: url("../img/grad_3.png") repeat, linear-gradient(-90deg, #3f81e7, #9d6ced) ; /* Standard syntax */

    padding: 90px 0px 90px 0px;
}
#grad_4 {
    background: -webkit-linear-gradient(-90deg, #a353be, #f2665e); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #a353be, #f2665e); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #a353be, #f2665e); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #a353be, #f2665e) ; /* Standard syntax */

    padding: 90px 0px 90px 0px;
}
#grad_footer {
    background: #1d1d37;
    padding: 90px 0px 90px 0px;
}
#grad_footer small {
    font-weight: 300;
    color: #93939b;
    font-size: 14px;
}
.navbar-fixed-top {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 90%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 90%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    border: 0px;
}
#grad img.media-object {
    margin-top: 2px;
}
#grad_4 h2, small {
    color: #fff;
    margin: 0px;
}
#grad_4 h1 {
    font-weight: 100;
    margin: 0px;
}
#grad_4 h4 {
    margin-top: 0px;
}
#grad_4 small {
    font-weight: 300;
}
#grad h3,
#grad_2 h3,
#grad_3 h3,
#grad_4 h3{
    color: #fff;
    font-weight: 100;
    line-height: 35px;
}
#grad_2 hr {
    opacity: 0.3;
    border-width: 3px;
}
#grad_3 hr {
    opacity: 0.3;
    border-width: 3px;
}
#grad_4 hr {
    opacity: 0.3;
    border-width: 3px;
}
#grad_2 p,
#grad_3 p,
#grad_4 p{
    color: #fff;
    font-weight: 300;
}
#grad_2 h4,
#grad_3 h4,
#grad_4 h4{
    color: #fff;
    font-weight: 400;
}
#grad_2 h1,
#grad_3 h1,
#grad_4 h1{
    margin-bottom: 25px;
    font-size: 50px;
    font-weight: 400;
    color: #fff;
}
.media-icon-gn span.glyphicon {
    font-size: 22px;
    color: #999;
}
ul.nav li a {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}
ul.nav li a:hover {
    opacity: 0.7;
}
.primary-container {
    padding: 70px 0px 70px 0px;
}
.primary-container h4 {
    color: #333;
    font-weight: 300;
    line-height: 27px;
}
.primary-container h1 {
    margin-bottom: 35px;
    font-size: 50px;
    font-weight: 400;
}
.primary-container .row h4 {
    font-weight: 400;
    margin-bottom: 0px;
}
.primary-container .row p {
    font-weight: 300;
    color: #444;
}
.media-icon-gn img {
    margin-top: 5px;
}
.media-icon-gn h2 {
    font-weight: 300;
    font-size: 40px;
    margin: 0px;
}
.media-icon-gn small {
    color: #555;
}
.media-icon-gn .media-left, .media > .pull-left {
    padding-right: 10px;
}
.media.media-icon-gn {
    margin-bottom: 45px;
}

#grad .media-body {
    color: #fff;
}
#grad .bg-clean {
    border-radius: 4px;
    min-height: 150px;
    padding: 18px;
    background-color: #ffffff;
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(255, 255, 255);
    /* RGBa with 0.6 opacity */
    background-color: rgba(255, 255, 255, 0.3);
}
.bg-clean h4 {
    font-size: 13px;
}
.bg-clean h3 {
    margin: 0px;
}
.bg-clean p {
    font-weight: 300;
    line-height: 20px;
    font-size: 12px;
    margin: 0px;
}

.col-xs-5th, .col-sm-5th, .col-md-5th, .col-lg-5th {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-5th {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-5th {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-5th {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-5th {
        width: 20%;
        float: left;
    }
}